<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/iei.css">
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="stylesheet" href="./assets/css/card.css">
    <link rel="stylesheet" href="./assets/css/by.css">
</head>
<body>
    <div class="header">
        <div class="header_con-1">
            <a class="header_login" href="/login">
                <img class="header_login-img" src="./assets/img/Vector.png" alt="">Log in
            </a>
        </div>
        <div class="header_con-2">
            <a class="header_basket" href="/basket">
                <img class="header_basket-img" src="./assets/img/basket_96252(1).png" alt="">Basket
            </a>
        </div>
        <div class="header_con-3">

            <select aria-valuetext="Category" class="header_category" name="category" >
                <option value="1">Fiction</option>
            </select>
            <form class="header_con-3" method="POST">
                <input class="header_category" type="submit" value="Поиск">
            </form>
        </div>
        <h1 class="name">BEST BOOK</h1>
    </div>
    <div >
        <div class="by">
            <img class="by__img" src="./assets/img/Rectangle 10.png" alt="" width="153px" height="220px">
            <div class="by__text">
                <p class="by__name">Благословение Небожителей</p>
                <p class="by__op">asdsad</p>
                
            </div>
        </div>
        <div class="by__button">
            <p class="by__prise">1200 ₽</p>
            <button class="by__button-1" onclick="window.location.href = '/'">Заказать</button>
        </div>
    </div>
</body>
</html>