<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./iei.css">
    <link rel="stylesheet" href="card.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="card">
        <img class="card__img" src="./Rectangle 10.png" alt="">
        <p class="card_prise">1200 ₽</p>
        <p class="card_name">Благославение небожителей</p>
        <p class="card_author">Тунсю Мосян</p>
        <button class="card_button-1" onclick="window.location.href = '/'">Заказать</button>
    </div>
</body>
</html>